doctype
html(lang='en-US',ng-app="socialSearch")
    head
        title Social Search
        link(rel='stylesheet', href='/styles/style.css')
        script(src="http://code.jquery.com/jquery-2.1.0.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js")
    body
        .container
            block content
            script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")
            script(src="/js/angular-route.min.js")
            script(src="/js/script.js")