extends layout
block content
    body(ng-controller='queryCtrl' ng-init="getParam(data= #{JSON.stringify(data)})")
        .contact-card(ng-repeat="user in data")
            .contact-pic.box(ng-show="user.photos")
                ul(ng-repeat="(key, value) in user.photos")
                    li(style="width:110px; height:110px",ng-repeat="link in value | filter:{isPrimary:true}")
                        img(style="width:110px; height:110px",src='{{link.url}}', alt='{{link.typeId}}')
            .box
                .column
                    ul.identity
                        li.identity-fullname {{user.contactInfo.fullName}}
                        li.identity-title {{user.email}}
                    ul.demographics
                        li.demographics-gender
                            | {{user.demographics.gender}}
                        li.demographics-age
                            | {{user.demographics.age}}
                        li.demographics-location {{user.demographics.locationDeduced.deducedLocation}}
                    ul.social
                        li.social-profile(ng-repeat="(key, value) in user.socialProfiles ")
                            a(target='_blank',ng-repeat="link in value" href='{{link.url}}')
                                img(src='http://fullcontact-static.s3.amazonaws.com/images/social-icons/24/default/{{key}}.png')
                .column(ng-repeat="(key, value) in user.digitalFootprint.topics")
                    .klout
                        h6 {{key}} Topics
                        ul.klout-topics
                            li.topic(ng-repeat="topic in value") {{topic.value}}
                .column(ng-show="user.organizations")
                    .other-orgs
                        h6 Organizations
                        ul.other-orgs-list(ng-repeat="organizations in user.organizations")
                            li.org
                                | {{organizations.name}}, {{organizations.title}}